@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
font-size: 62.5%;
}

.nav{
  display: flex;
   justify-content: space-between;
   margin-left: 5px;
   margin-right: 5px;
}

.logo p{
font-size: 2.5rem;
background-color: #A85CF9;
border-radius: 50px;
padding: 5px 10px;
max-width: 200px;
margin: 10px 0;
color: white;
font-weight: 700;
}
.logo p:hover{
  background-color: white;
  border: 2px solid #A85CF9;
 color: #A85CF9;
}
.logo p span{
font-size: 2.5rem;
}

.menu ul{
  display: flex;
}
 
.menu ul li {
  margin: 15px 1px;
  list-style-type: none;
}

.menu ul li a{
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  color: #4FD3C4;
}

.menu ul li a:hover{
font-size: 1.8rem;
background-color: #A85CF9;
color: white;
border-radius: 10px;
}
.content{
  display: flex;
  justify-content: space-between;
  position: relative;
} 
.content .note{
  margin: 10px 5;
  padding: 15px 10px;
}
.note h1{
  font-size: 4rem;
  text-decoration: underline;
  color: #4FD3C4;
}

.note p{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: justify;
  color: #2155CD;
}

.note button{
  margin-top: 20px;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 5px;
  background-color: #A85CF9;
  color: white;
  font-weight: 600;
  border: 1px solid #7004e2;
}

.note button:hover{
  background-color: white;
  color: #A85CF9;
  border: 3px solid #7004e2;
}

.content .img{
  width: 50%;
  z-index: 1;
    /* overflow: hidden; */
}

.content .img .cl1{
background-color: #4FD3C4;
height: 50%;
width: 50%;
z-index: -100;
border-radius: 200px;
  position: fixed;
top: 40%;
left: 80%;
}

.content .img .cl2 {
  background-color: #A85CF9;
  height: 200px;
  width: 200px;
  z-index: -100;
  border-radius: 150px;
  position: fixed;
  top: 60%;
  left: 85%;
}

.container{
  margin: 10px;
  padding: 10px;
  max-width: 1000px;
}